@tailwind base;
@tailwind components;
@tailwind utilities;

button.slick-next {
    right: 70px;
    z-index: 10;
}

button.slick-prev {
    left: 20px;
    z-index: 10;

}


button.slick-next::before {
    color: gray;
    content: '\276F';
    background-color: #b8b5b5;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.slick-prev::before {
    color: gray;
    content: '\276E';
    background-color: #b8b5b5;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}